#author{
    width: 100%;
    height: 140px;
    background-color: #f5f5d5;
    border-radius: 8px;
    position: sticky;
    top:0;
}
#intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
}


#avatar{
    display: block;
}

#author-inf{
}

#social{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}
.icon{
    transition: all 0.3s;
}
.icon:hover{
    transform: translateY(-3px);
}